.roundButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black);
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.05rem;
  text-decoration: none;
  background: transparent;
}

.roundButton svg {
  width: auto;
  height: 1.6rem;
  max-width: 1.6rem;
  max-height: 1.6rem;
}

.roundButton:hover {
  cursor: pointer;
  background: var(--color-black);
}

.roundButton:hover svg {
  cursor: pointer;
  fill: var(--color-white);
}

/* Alternative Themes */
.billboardTheme {
  border: 0.0625rem solid var(--color-front-right);
  width: 2.2rem;
  height: 2.2rem;
  background: var(--color-background-right);
  color: var(--color-front-right);
}

.billboardTheme svg{
  fill: var(--color-front-right);
}

.billboardTheme:hover {
  background: var(--color-front-right);
  color: var(--color-background-right);
}

.billboardTheme:hover svg {
  fill: var(--color-background-right);
}

@media 
screen and (orientation: portrait),
screen and (orientation: landscape) and (max-height: 600px),
screen and (orientation: landscape) and (max-width: 1024px) {
  .billboardTheme {
    border-color: var(--color-front-left);
  }
}