#app {
  height: 100%;
  width: 100%;
  padding-top: 8rem;
}

.sun-wrapper {
  position: relative;
  margin: 0 auto;
  border: 1px solid white;
  width: 522px;
}

.sun-wrapper .hello, .sun-wrapper .world {
  position: absolute;
  left: 50%;
  height: 88px;
  image-rendering: pixelated;
}

.sun-wrapper .hello {
  top: 0;
  transform: translate3d(-50%, -66%, 0);
  /* transform: translate3d(-50%, -54%, 0); */

}

.sun-wrapper .world {
  bottom: 0;
  transform: translate3d(-50%, 36%, 0);
}
