

@font-face {
    font-family: "Roboto-Light";
    src: 
        url("../assets/fonts/Roboto-Light.woff2") format("woff2"),
        url("../assets/fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
  }
  
  :root {
    --font-family-main-1: "Roboto-Light", "Roboto Light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    --color-black: #000000;
    --color-white: #FFFFFF;

    /* --color-background-left: #6200FF; */
    --color-front-left:  #FFFFFF;
    --color-background-left:  #4400FF;

    --color-front-right: #4400FF;
    --color-background-right: #FFFFFF;
    /* --color-background-right:  #FFFF2E; */

    /* --color-spot-right: #F5F2FF;
    --color-spot-right: #FEF2F2;
    --color-spot-right: #E7FFEB;
    --color-spot-right: #F5F2FF;
    --color-spot-right: #FFFFB6; */
    --color-spot-right: #FFFF2E;

    --color-background-popup: #FFEFEF;

}