

@font-face {
    font-family: "Roboto-Light";
    src: 
        url("../assets/fonts/Roboto-Light.woff2") format("woff2"),
        url("../assets/fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
  }
  
  :root {
    --font-family-main-1: "Roboto-Light", "Roboto Light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    /* --color-main-1: #0000FF; */
    /* --color-main-1: #a899ff; */
    --color-front-left:  #FFF;
    --color-background-left: #6200ff;
    --color-background-left:  #4400ff;
    /* --color-main-2: #06d6a0; */
    --color-front-right: white;
    --color-front-right: red;
    --color-front-right: #6200ff;
    --color-front-right: #4400ff;
    /* --color-front-right: #ff9999; */
    --color-background-right: #FB3640;
    --color-background-right: #FE938C;
    --color-background-right: #DCD6F7;
    --color-background-right: #FFEFEF;
    --color-background-right: white;

    --color-spot-right: #ffff2e;
    --color-spot-right: yellow;


    /* --color-main-2: #f06543; */
    /* --color-main-2:  #FE5F55; */
    /* --color-main-1: #3eb189; */
    /* --color-main-1: #00b3a4; */
    --color-background-popup: #FFEFEF;
    --color-black: #000000;
    --color-white: #FFFFFF;
}