.row.contact {
  align-items: center;
  flex-wrap: wrap;
  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0;
}

.contact .contact-title {
  flex: 1;
  margin: 0 2rem 1.25rem 0;
}

.contact .contact-title h1, 
.contact .contact-title h3 {
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.contact .contact-buttons {
  display: flex;
  margin-bottom: 1.25rem;
}

.contact .contact-buttons > * {
  /* margin-right: 2rem; */
  margin-right: 1rem;
}

/* .contact .contact-buttons > *:last-child {
  margin-right: 0;
} */

@media handheld, only screen and (max-width: 410px) {
  .contact .contact-title h1 {
    white-space: normal;
  }
}