@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.billboardInfo {
  text-align: center;
  animation: fadeIn 1s ease 0.25s both;
  font-size: 1.1rem;
}

.billboardInfo > svg:first-of-type {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  height: 5.5rem;
  fill: var(--color-white);
}

.infoDetails {
  color: var(--color-white);
  line-height: 1.6;
  letter-spacing: 0.06rem;
}

.contactIcons {
  display: inline-block;
  margin-top: 3rem;
  border: 1px solid var(--color-white);
  padding: 0 0.35rem;
}

.contactIcon {
  position: relative;
  display: inline-block;
  transform: translateY(45%);
  margin: 0 0.5rem;
}

.contactIconLabel {
  position: absolute;
  display: inline-block;
  top: 2.5rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border: 1px solid transparent;
  padding: 0.5rem 0.25rem;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.9rem;;
  letter-spacing: 0;
  text-align: center;
}

.contactIcon a:hover + .contactIconLabel {
  border-color: white;
  transition: border 500ms;
}

@media screen and (max-width: 650px), screen and (max-height: 650px) {
  .billboardInfo {
    font-size: 1rem;
  }

  .billboardInfo > svg:first-of-type {
    height: 5rem;
    margin-bottom: 1.5rem;
  }

  .contactIcons {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 400px), screen and (max-height: 400px) {
  .billboardInfo {
    font-size: 0.9rem;
  }

  .billboardInfo > svg:first-of-type {
    height: 4.5rem;
  }
}
