@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.billboardInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  animation: fadeIn 1s ease-in 0s both;
  font-size: 1rem;
}

.infoSpaceTop, .infoSpaceBottom {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  padding: 0 5rem;
}

.infoSpaceTop {
  border-bottom: 1px solid var(--color-white);
}

.infoSpaceTop > svg:first-of-type {
  display: block;
  /* margin: 0 auto; */
  /* margin-top: 1.5rem;
  margin-bottom: 1.6rem; */
  height: 5rem;
  fill: var(--color-white);
  /* transform: rotate(-2.5deg) translateX(-0.15rem); */
}

.infoDetails {
  color: var(--color-white);
  line-height: 1.6;
  letter-spacing: 0.06rem;
}

.contactIcons {
  position: absolute;
  bottom: 0;
  /* top: 0; */
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  /* margin-top: 3.5rem ; */
  border: 1px solid var(--color-white);
  padding: 0 0.35rem;
  background-color: var(--color-main-1);
}

.contactIcon {
  position: relative;
  display: inline-block;
  transform: translateY(45%);
  margin: 0 0.5rem;
}

.contactIconLabel {
  position: absolute;
  display: none;
  top: 2.5rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border: 1px solid transparent;
  padding: 0.5rem 0.25rem;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.9rem;;
  letter-spacing: -0.05rem;
  text-align: center;
}

.contactIcon a:hover .contactIconLabel {
  border-color: white;
  transition: border 350ms;
}

@media screen and (max-width: 768px), screen and (max-height: 768px) {
  .billboardInfo {
    font-size: 1rem;
  }
  
  .infoSpaceTop > svg:first-of-type {
    height: 5rem;
  }
}